
<aside class="sidebar-left border-right bg-white shadow" id="leftSidebar" data-simplebar >
  <a href="#" class="btn collapseSidebar toggle-btn d-lg-none text-muted ml-2 mt-3" data-toggle="toggle">
    <i class="fe fe-x"><span class="sr-only"></span></i>
  </a>
  <nav *ngIf="showAdmin" class="vertnav navbar navbar-light">
      <!-- nav bar -->
      <div class="w-100 mb-4 d-flex">
        <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/dashboard-admin">
          <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                  <g>
                    <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                    <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                    <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                  </g>
                </svg>
        </a>
      </div>



      <ul class="navbar-nav flex-fill w-100 mb-2">
        <a href="/dashboard-admin" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-home fe-16"></i>
          <span class="ml-3 item-text">Dashboard</span><span class="sr-only">(current)</span>
        </a>
      </ul>

      <p class="text-muted nav-heading mt-4 mb-1">
        <span>Components</span>
      </p>

      <ul class="navbar-nav flex-fill w-100 mb-2">

        <li class="nav-item w-100">
          <a class="nav-link" href="/dashboard-admin/profile-admin">
            <i class="fe fe-layers fe-16"></i>
            <span class="ml-3 item-text">User Profile</span>
          </a>
        </li>

      </ul>
  </nav>
  <!--***************************************************************       Commercant Side Bare    *******************************************************************************************************************************************************************************************************************************************************************************-->

  <nav  *ngIf="showCommercant" class="vertnav navbar navbar-light" >
    <!-- nav bar -->
    <div class="w-100 mb-4 d-flex">
      <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/dashboard-commercant">
        <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                  <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
      </a>
    </div>



    <ul class="navbar-nav flex-fill w-100 mb-2">
      <a href="/dashboard-commercant" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fe fe-home fe-16"></i>
        <span class="ml-3 item-text">Commandes</span><span class="sr-only">(current)</span>
      </a>

    </ul>

    <p class="text-muted nav-heading mt-4 mb-1">
      <span>Components</span>
    </p>

    <ul class="navbar-nav flex-fill w-100 mb-2">

      <li class="nav-item w-100">
        <a href="/dashboard-chefPose/chp-profile" ddata-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-layers fe-16"></i>
          <span class="ml-3 item-text">Profile</span>
        </a>

      </li>

      <li class="nav-item dropdown">
        <a href="#tables" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Commandes</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tables">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-commande"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-commande"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablesclient" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Clients</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablesclient">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-client"><span class="ml-1 item-text">Liste des Client</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-client"><span class="ml-1 item-text">ajouter un Client</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablesproduit" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Produits</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablesproduit">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-produit"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-produit"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablescategorie" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Catégories</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablescategorie">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-categorie"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-commercant/com-categorie"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>


    </ul>

  </nav>

  <!--*******************************************        chef de pose       ***********************************************************************************************************************************************************************************************************************************************************************************************-->

  <nav *ngIf="showChefPose" class="vertnav navbar navbar-light">
    <!-- nav bar -->
    <div class="w-100 mb-4 d-flex">
      <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/dashboard-chefPose">
        <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                  <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
      </a>
    </div>



    <ul class="navbar-nav flex-fill w-100 mb-2">
      <a href="/dashboard-chefPose/chp-reclamations" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fe fe-home fe-16"></i>
        <span class="ml-3 item-text">Réclamation</span><span class="sr-only">(current)</span>
      </a>
    </ul>

    <p class="text-muted nav-heading mt-4 mb-1">
      <span>Components</span>
    </p>

    <ul class="navbar-nav flex-fill w-100 mb-2">

      <li class="nav-item w-100">
        <a class="nav-link" href="/dashboard-chefPose/chp-profile">
          <i class="fe fe-layers fe-16"></i>
          <span class="ml-3 item-text">Profile</span>
        </a>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablesposeur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Poseurs</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablesposeur">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-poseurs"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-poseurs"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tableslivreur" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Livreurs</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tableslivreur">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-livreurs"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-livreurs"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablesvehicules" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Véhicules</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablesvehicules">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-vehicules"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-vehicules"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablesgroup" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Planification des Groupes</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablesgroup">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-planification"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-planification"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablesclients" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Client</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablesclients">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-clients"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-clients "><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>

      <li class="nav-item dropdown">
        <a href="#tablescommande" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
          <i class="fe fe-grid fe-16"></i>
          <span class="ml-3 item-text">Gestion des Commandes</span>
        </a>
        <ul class="collapse list-unstyled pl-4 w-100" id="tablescommande">
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-commandes"><span class="ml-1 item-text">Table des Commandes</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link pl-3" href="/dashboard-chefPose/chp-commandes"><span class="ml-1 item-text">Passer une Commande</span></a>
          </li>
        </ul>
      </li>


    </ul>

  </nav>

  <!--*******************************************        chef de usine       ***********************************************************************************************************************************************************************************************************************************************************************************************-->

  <nav *ngIf="showChefUsine" class="vertnav navbar navbar-light">
    <!-- nav bar -->
    <div class="w-100 mb-4 d-flex">
      <a class="navbar-brand mx-auto mt-2 flex-fill text-center" href="/dashboard-chefUsine">
        <svg version="1.1" id="logo" class="navbar-brand-img brand-sm" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 120 120" xml:space="preserve">
                <g>
                  <polygon class="st0" points="78,105 15,105 24,87 87,87 	" />
                  <polygon class="st0" points="96,69 33,69 42,51 105,51 	" />
                  <polygon class="st0" points="78,33 15,33 24,15 87,15 	" />
                </g>
              </svg>
      </a>
    </div>



    <ul class="navbar-nav flex-fill w-100 mb-2">
      <a href="/dashboard-chefUsine/chu-commandes" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle nav-link">
        <i class="fe fe-home fe-16"></i>
        <span class="ml-3 item-text">Commandes</span><span class="sr-only">(current)</span>
      </a>
    </ul>

    <p class="text-muted nav-heading mt-4 mb-1">
      <span>Components</span>
    </p>

    <ul class="navbar-nav flex-fill w-100 mb-2">

      <li class="nav-item w-100">
        <a class="nav-link" href="/dashboard-chefUsine/chu-profile">
          <i class="fe fe-layers fe-16"></i>
          <span class="ml-3 item-text">Profile</span>
        </a>
      </li>

    </ul>

  </nav>
</aside>

